<aside class="sidebar">
  <section class="widget">
    <h3 class="widget-title">Tentang</h3>
    <p>{{ site.description }}</p>
  </section>
  <section class="widget">
    <h3 class="widget-title">Post Terbaru</h3>
    <ul>
      {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="widget">
    <h3 class="widget-title">Popular Posts</h3>
    <ul>
      {% for post in site.data.popular %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="widget">
    <h3 class="widget-title">Label</h3>
    <div class="tag-cloud">
      {% for tag in site.tags %}
        <a href="{{ '/tag/' | append: tag[0] | relative_url }}">{{ tag[0] }} ({{ tag[1].size }})</a>
      {% endfor %}
    </div>
  </section>
  <section class="widget">
    <h3 class="widget-title">Arsip</h3>
    <ul>
      {% assign posts_by_month = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
      {% for month in posts_by_month %}
        <li><a href="#">{{ month.name }} ({{ month.items | size }})</a></li>
      {% endfor %}
    </ul>
  </section>
</aside>
